/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Helvetica, Arial, sans-serif;
}

/*
    1 từ ngoài vào trong
    2 từ trên xuống dưới
    3 tổng quan đến chi tiết
*/

/* 
    1 vị trí
    2 kích thước (width, height)
    3 màu sắc
    4 kiểu dáng
*/
.clear {
    clear: both;
}

.text-white {
    color: #fff !important
}
.text-center {
    text-align: center !important;
}
.mt-8 {
    margin-top: 8px !important;
}
.mt-16 {
    margin-top: 16px !important;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::affter {
    content: "";
    display: block;
    clear: both;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third {
    width: 33.33333%;
}
.col-haft {
    width: 50%;
}
.col-full {
    width: 100%;
}

#main {

}
#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav {
    display: inline-block;
}
#nav .subnav {
    list-style-type: none;
}
#nav > li{
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding:0px 24px;
    display: block;
}
#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
}
#nav .subnav {
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a {
    color: #000;
    padding: 0px 12px
}
#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}
#nav li:hover .subnav {
    display: block;
}
#nav-arrow-down {
    font-size: 14px;
}
#header .search-btn {
    float: right;
    padding:0px 21px;
    cursor: pointer;
}
#header .search-btn:hover {
    /* color: #fff; */
    background-color: #f44336
}
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}
#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}
#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}
#content {

}
#content .content-section {
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center; /* căn giữa */
    letter-spacing: 4px;
}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic; /* chữ nghiên */
    opacity: 0.6;/* làm mờ */
}
#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;/* căn đều 2 bên */
    line-height: 1.4; /* chỉnh độ cao giữa 2 dòng text */
}
#content .member-list {
    margin-top: 48px;
}
/* #content .member-item { */
    /* float: left; /* chỉnh nhiều thẻ div thành hàng ngang*/
    /* width: 33.33333%;  */
    /* text-align: center; */
/* } */
#content .member-name {
    font-size: 15px;
}
#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
/* tour section */
.tour-section {
    background-color: #000
}
.tickets-list {
    background-color: #fff;
    margin-top:40px;
}
.tickets-list li {
    list-style-type: none;/* bỏ đi thuộc tính chấm của thẻ li */
    color:#757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.tickets-list .quatity {
    float: right; /* chuyển qua bên phải */
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

.places-list {
    margin-top: 32px;
    padding-bottom: 48px;
}
.place-img {
    width: 100%;
    display:block;
}
.place-img:hover {
    opacity: 0.6;
}
.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading {
    font-size: 15px;
    font-weight: 600;
}
.place-time {
    margin-top: 15px;
    color:#757575;
}
.place-description {
    margin-top: 15px;
    line-height: 1.4;
}
.place-buy-btn {
    color: #fff;
    background-color:#000;
    text-decoration: none; /* bo gach chan cua chu */
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}
.place-buy-btn:hover {
    color: #000;
    background-color: #ccc;
}
/* Contact form */
.contact-content {
    margin-top:  48px;
}
.contact-info {
    font-size: 18px;
    line-height: 1.5;
}
.contact-form {
    font-size: 15px;
}
.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.contact-form .form-submit-btn {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 8px 14px;
    float: right;
}
/* .contact-info i[class*='ti-'] {
    width: 30px;
    display: inline-block;
} */

/* footer section */
#footer {

}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background:rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.open {
    display: flex;
}
.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height:200px;
    position: relative;
    animation: modalFadeIn ease 0.4s;
}
.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-header-icon {
    margin-right: 16px;
}
.modal-close:hover {
    opacity: 1;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}
.modal-body {
    padding:16px;
}
.modal-lable{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
#buy-tickets:hover {
    opacity: 0.9;
}
#buy-tickets {
    background: #009688;
    border : none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}
.modal-footer {
    padding: 16px;
    text-align: right;
}
.modal-footer a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}